{% extends "wagtailadmin/base.html" %}

{% block furniture %}
    {{ block.super }}
    <style>
      .wagtail-admin-interface--hide-crumb-trail-toggle .w-breadcrumbs {
        padding-inline-start: 0.75rem;
      }
      .wagtail-admin-interface--hide-crumb-trail-toggle .w-breadcrumbs > button:first-child {
        display: none;
      }
    </style>
    <script>

      /*  Hide root page in crumb trail */
      WagtailAdminInterface.initHideCrumbTrailInRootInterface = function() {
        if (!('HIDE_ROOT_PAGE_IN_CRUMB_TRAIL' in WagtailAdminInterface)) {
          return;
        }

        if (!WagtailAdminInterface.HIDE_ROOT_PAGE_IN_CRUMB_TRAIL) {
          return;
        }

        const breadCrumbs = document.querySelector('.w-breadcrumbs');
        if (breadCrumbs === null) {
          return;
        }

        breadCrumbs.querySelectorAll('[href="/pages/"]').forEach((rootPageAnchor) => {
          rootPageAnchor.parentNode.remove();
        });
      }

      /* Hide group object permisions that are not whitelisted */
      WagtailAdminInterface.initHiddenGroupObjectPermissions = function() {
        if (!('HIDDEN_GROUP_OBJECT_PERMISSIONS' in WagtailAdminInterface)) {
          return;
        }

        const groupForm = document.querySelector('[action^="/groups/"]');
        if (groupForm === null) {
          return;
        }

        const permissions = groupForm.querySelector('#object-permissions-content').querySelectorAll('[name="permissions"]');
        for (permission of permissions) {
          if (WagtailAdminInterface.HIDDEN_GROUP_OBJECT_PERMISSIONS.includes(parseInt(permission.value))) {
            permission.closest('tr').style.display = 'none';
          }
        }
      };

      /* Initialize the Wagtail Admin Interface features */
      WagtailAdminInterface.init = function() {
        WagtailAdminInterface.initHideCrumbTrailInRootInterface();
        WagtailAdminInterface.initHiddenGroupObjectPermissions();
      }
      WagtailAdminInterface.init();
    </script>
{% endblock %}
